body{
  margin:0;
  border:0;
  padding:0;
}

.bg-pic{
  height:1500px;
  width:auto;
  background-image: url("https://i.dell.com/sites/csimages/Banner_Imagery/all/aw_lifestyle-site-banner-1600x700-right-textless.png");
  background-size: 100% 550px;
  background-repeat:no-repeat;
  margin:0;
  border:0;
  padding:20px;
}

.text{
  float:right;
  color:white;
}
